.dashboard {
    background: white;
    height: 100vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    box-sizing: border-box;
}


.add-buttons {
    position: absolute;
    right: 30vw;
    top: 6vh;
    /* border: 2px solid orange; */
}